PORT=3001
LLM_PROVIDER=gemini
AZURE_OPENAI_ENDPOINT=
AZURE_OPENAI_API_KEY=
AZURE_OPENAI_DEPLOYMENT=
GEMINI_API_KEY=AIzaSyBVjTZ5TZHH9VIxHIk6ZL-tAwk--ue0VBo
GITHUB_APP_ID=
GITHUB_PRIVATE_KEY=
GITHUB_WEBHOOK_SECRET=
